body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.button{
    width: 10%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    position: fixed;
    left: 50%;
    margin-left: -5%;
    top: 50%; 
    margin-top: -15px;
    cursor: pointer;
}
.name{
    position: relative;
    font-size: 50px;
    text-align: center;
    font-family: monospace;
}